{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier"],
  "plugins": ["@typescript-eslint", "eslint-plugin-prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  }
}
