{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "plugin:@next/next/recommended",
    "next/core-web-vitals",
    "next"
  ],
  "plugins": ["@typescript-eslint", "eslint-plugin-prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ],
    "react-hooks/exhaustive-deps": "off"
  }
}
