@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrool-none::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }

  .bg-scroolbar-white::-webkit-scrollbar-track {
    background-color: white;
  }

  .scroolbar::-webkit-scrollbar-thumb {
    background-color: #aeaeb1;
    border-radius: 12px;
    border: 1px solid white;
  }
}
